pipeline/cache_sink_pipeline.json
{
	"name": "cache_sink_pipeline",
	"properties": {
		"activities": [
			{
				"name": "DF_cahce_sink",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_cahce_sink",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DF_cahce_sink",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxSalary",
					"value": {
						"value": "@string(activity('DF_cahce_sink').output.runStatus.output.cacheSink.value[0].MaxSalary)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"MaxSalary": {
				"type": "String",
				"defaultValue": " "
			}
		},
		"annotations": []
	}
}